img{
	width: 30%;
	float:left;
	margin:1.66%;
}

p{
	
	float:left;
	width: 30%;
	padding: 10px;
	/*height: 30%;*/
	/*vertical-align: center;*/
	margin: 1% ;
	/*padding: center;*/
	border:solid;
	/*display: inline-block*/
	/*text-align: center;*/
}

