table{
	margin: auto;
}

td{
	width:200px;
	height:200px;
	/*background: pink;*/
	/*margin: center;*/
	/*content: center;*/
}

.vertical{
	border-left: 1px solid;
}

.bottom{
	border-bottom: 1px solid;
}
/*
td{
	border-bottom: solid;
}

tr:nth-of-type(3) td:nth-of-type(1){
	border-bottom: none;
}
tr:nth-of-type(3) td:nth-of-type(2){
	border-bottom: none;
}
tr:nth-of-type(3) td:nth-of-type(3){
	border-bottom: none;
}
*/