<!DOCTYPE html>

<html>
    <head>
        <title>YCamc</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
        
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">YCam</a>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-right">
                <li><a href='/'>Login</a></li>
                <li><a href='/'>Sign up</a></li>
                <li><a href='/'>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
    
    
    